// Form Renderer
.form-renderer-wrapper {
	width: 50vw;
	margin: 0 auto;
	.title-description {
		margin-top: 0px;
		font-weight: 500;
		font-size: 12px;
	}
	.has-description {
		margin-bottom: 0px;
	}

	.section-header {
		margin-bottom: 10px;	
		.section-description {
			margin-top: 0px;
			font-weight: 500;
			font-size: 10px;
			font-style: italic;
		}
		.section-heading {
			position: relative;
			font-style: italic;
			font-weight: 300;
			font-size: 14px;

			span {
				background-color: #fff;
				position: relative;
				padding-right: 5px;
			}
		}
		.section-heading::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 0;
			border-top: 1px dashed #ccc;
			top: 8px;
			left: 0px;
		}
	}

	.btn {
		color: #797979;
		text-transform: uppercase;
		background: none;
		padding: 7px;
		border: 2px solid #989898;
		border-radius: 4px;
		display: inline-block;
		transition: all 0.3s ease 0s;
		font-weight: 600;
		position: relative;
	}
	.btn:hover {
		color: #565656;
		border: 2px solid #565656;
		transition: all 0.3s ease 0s;
	}
	.btn:active,
	.btn:focus {
		outline: none;
	}
	.btn + .btn {
		margin-left: 4px;
	}
	.formButtons {
		margin-top: 20px;
	}
}

// Collapsible
.collapsible-wrapper {
	@keyframes slide-up {
		0% {
			opacity: 0;
			transform: translateY(-20px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
	
	.stage-header {
		padding: 20px;
		text-align: left;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-size: 16px;
		position: relative;

		.stage-state {
			width: 24px;
			height: 24px;
			border: 1px solid #000;
			border-radius: 50%;
			line-height: 24px;
			text-align: center;
			background-color: rgba(3, 3, 3, 0.4);
			color: #fff;
			font-weight: 500;
		}

		.stage-name {
			margin-left: 8px;
		}

		.stage-name-value {
			color: #6b7afe;
		}
	}
	
	.stage-child {
		padding: 0;
		transition: all 0.5s ease-in-out;
		opacity: 0;
		height: 0;
	}
	
	&.filled .stage-state {
		background: #030303;
	}
	
	&.expanded-card {
		box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.09);
		background: #fff;
		height: auto;
		& + .stage-wrapper .stage-header:before {
			display: none;
		}
		& .stage-header {
			padding: 20px 20px 0;
			&:before {
				display: none;
			}
		}
		& .stage-state {
			background: #fff;
			color: initial;
		}
	
		& .stage-child {
			padding: 20px;
			height: 100%;
			opacity: 1;
			animation: slide-up 0.4s ease;
		}
	}
}

// Accordion
.accordion-wrapper {
	& .collapsible-wrapper:first-child .stage-header:before {
		display: none;
	}
	& .stage-header {
		&:before {
			content: '';
			position: absolute;
			top: -11px;
			left: 31px;
			height: 24px;
			width: 0px;
			border: 2px solid #979797;
		}
	}
}

// Form builder
.form-builder-wrapper {
	position: relative;

	.quotes-side-btn{
		width: 60px;
		height: 60px;
		background: black;
		border: 0;
		border-radius: 50%;
		position: absolute;
		top: 120px;
		cursor: pointer;
		outline: none;
	}

	.side-next{
		right: -30px;
		&:before{
			font-family: "iconfont" !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: "\e906";
			display: inline-block;
			font-size: 16px;
			color: white;
			transform: rotate(-90deg);
		}
	}

	.side-previous{
		left: -30px;
		&:before{
			font-family: "iconfont" !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: "\2304";
			display: inline-block;
			font-size: 30px;
			margin-left: 10px;
			color: white;
			transform: rotate( 90deg);
		}
	}
}

// Form Review
.form-review-wrapper {
	& .review-form {
		padding: 15px;
		width: 50%;
	
		.review-form-header {
			position: relative;
			margin: 10px 0;
	
			.review-form-title {
				text-transform: uppercase;
				font-size: 14px;
				color: rgba(3,3,3,0.5);
			}
			
			.review-form-edit {
				border: 2px solid #454545;
				color: #454545;
				font-size: 11px;
				position: absolute;
				top: -5px;
				right: 0;
				border-radius: 20px;
				padding: 5px;
			}
		}
		.review-section {
			margin: 10px 0;
			.review-section-header {
				position: relative;
				font-style: italic;
			}
			.review-field {
				font-size: 14px;
			}
		}	
	}
}

// Step counter
.step-container {
	margin: 0 auto;
	position: relative;

	& .is-routable {
		cursor: pointer;
	}
	
	.steps-ul {
		padding: 0;
		list-style-type: none;
		min-height: 62px;
		text-align: center;
		&-step {
			display: inline-block;
			position: relative;
			width: 20%;
			text-align: center;
	
			& .step-no {
				background: #d6d6d6;
				border: 2px solid #d6d6d6;
				color: rgba(3, 3, 3, 0.5);
				padding: 0px;
				border-radius: 50%;
				position: relative;
				width: 30px;
				height: 30px;
				margin: 0 auto;
				font-weight: 600;
				font-size: 14px;
				line-height: 30px;
			}
			& .step-label {
				position: absolute;
				top: 37px;
				left: 0px;
				width: 100%;
				font-size: 14px;
			}
	
			&.filled {
				& .step-no {
					color: white;
					background: #030303;
					border: 2px solid #030303;
				}
				& .step-label {
					color: #030303;
					font-weight: 600;
				}
			}
			&.active {
				& .step-no {
					color: #030303;
					background: #fff;
					border: 2px solid #030303;
				}
				& .step-label {
					color: #454545;
					font-size: 16px;
				}
			}
			&:before {
				content: '';
				position: absolute;
				width: 50%;
				border-top: 2px solid #d6d6d6;
				top: 15px;
				left: 0;
				z-index: -1;
			}
			&:after {
				content: '';
				position: absolute;
				width: 50%;
				border-top: 2px solid #d6d6d6;
				top: 15px;
				right: 0;
				z-index: -1;
			}
			&:first-child:before {
				display: none;
			}
			&:last-child:after {
				display: none;
			}
		}
	}
	
}
