<template>
	<div class="wrapper">
		<div class="label" v-if="label">{{label}}</div>
		<textarea class="control" v-model="valueInput" :placeholder="placeholder" :rows="rows" @blur="$emit('blur')"></textarea>
	</div>	
</template>
<script lang="ts">
import { Component, Prop, Watch, Mixins } from 'vue-property-decorator';
import ComponentMixin from './shared/mixins/ComponentMixin.vue';

@Component
// @group DEFAULT INPUT COMPONENTS
// Textarea input control.<br/>Extends <b>mixin</b> `ComponentMixin`.
export default class InputTextarea extends Mixins(ComponentMixin) {
	// Placeholder for textarea
	@Prop({type: String}) private placeholder!: string;
	// Label displayed for text area control
	@Prop({type: String}) private label!: string;
	// Number of rows text area should be of
	@Prop({ type: Number, default: 7 }) private rows!: number;
}
</script>
<style lang="scss" scoped>
@import './assets/style.scss';

.control {
	padding: 8px;
    border-radius: 3px;
	border: 1px solid #ccc;
	font-family: inherit;
}
</style>
