<template>
	<div class="form-review-wrapper">
		<div
			v-for="form in formsForReview"
			:key="form.formId"
			:class="'review-form ' + form.formId"
		>
			<div class="review-form-header">
				<div
					:class="'review-form-title ' + (form.formReviewFormatter ? 'has-formatter' : '') + ' ' + (form.formReviewFormat ? 'has-format' : '')"
					v-html="
						parseFormHeading(form, forms)
					"
				></div>
				<span
					class="review-form-edit"
					@click="onFormEdit(form);"
				>
					EDIT
				</span>
			</div>
			<template v-for="section in getFilteredSections(form)">
				<!--
					Display custom implementation of a form section review. section `:IFormSection`, form `:IForm`, forms `:IForm[]` and data `:any` available in slot properties.
				-->
				<slot
					:name="form.formId + '/' + section.sectionId"
					v-bind:section="section"
					v-bind:form="form"
					v-bind:forms="forms"
					v-bind:data="data"
				>
					<!-- Default section implementation -->
					<div
						:key="section.sectionId"
						v-if="!section.sectionExcludeFromReview && !section.sectionHidden"
						:class="'review-section ' + section.sectionId"
					>
						<div
							:class="'review-section-header ' + (section.sectionReviewFormatter ? 'has-formatter' : '') + ' ' + (section.sectionReviewFormat ? 'has-format' : '')"
							v-html="parseSectionHeading(section, form, forms)"
						></div>
						<template
							v-for="field in getFilteredFields(section)"
						>
							<!--
								Display custom implementation of a form field review. field `:IFormField`, section `:IFormSection`, form `:IForm`, forms `:IForm[]` and data `:any` available in slot properties.
							-->
							<slot
								:name="form.formId+'/'+section.sectionId+'/'+field.fieldId"
								v-bind:field="field"
								v-bind:section="section"
								v-bind:form="form"
								v-bind:forms="forms"
								v-bind:data="data"
							>
								<!-- Default field implementation -->
								<div
									:key="field.fieldId"
									:class="'review-field ' + field.fieldId + ' ' + (field.fieldReviewFormatter ? 'has-formatter' : '') + ' ' + (field.fieldReviewFormat ? 'has-format' : '')"
									v-if="isFieldVisible(field)"
									v-html="
										parseFieldValue(
											field,
											section,
											form,
											forms,
										)
									"
								></div>
							</slot>
						</template>
					</div>
				</slot>
			</template>
		</div>
	</div>
</template>
<script lang="ts">
import {
	Vue,
	Component,
	Prop,
	Watch,
} from 'vue-property-decorator';
import {
	IForm,
	IFormSection,
	IFormField,
	IFormAction,
	IFormFormatterMapSchema,
	IFormFieldTypeConstructor,
} from './shared/interfaces';
import {
	valueExp,
	FB_SECTION_REVIEW_FORMATTER_MAP,
	FB_FIELD_REVIEW_FORMATTER_MAP,
	FB_FORM_REVIEW_FORMATTER_MAP,
	TYPE_MAP,
} from './shared/constants';
import { getTypeObject } from './shared/utils';

@Component
// Renders a review page w.r.t. forms `:IForm` array
export default class FormReview extends Vue {
	// Unique identifier for the form builder
	@Prop({type: String, required: true}) private id!: string;
	// Dictionary of field id and data
	// tslint:disable:arrow-return-shorthand
	@Prop({ type: Object, default: (): {[key: string]: any} => { return {}; }}) private data!: { [key: string]: any };
	// Array of forms `:IForm` and properties to be rendered
	@Prop({ type: Array, required: true }) private forms!: IForm[];
	// Dictionary of input type names `:string` and classes `:IFormFieldTypeConstructor`
	// to represent input components.
	// <br/><i><small>Note: Classes must implement `:IFormFieldType` and have props and events
	// required by the input component they represent.</small></i>
	@Prop({ type: Object, default: () => TYPE_MAP }) private typeMap!: {
		[key: string]: IFormFieldTypeConstructor;
	};
	private formFormatterMap: { [formReviewerId: string]: IFormFormatterMapSchema } = {};
	private sectionFormatterMap: { [formReviewerId: string]: IFormFormatterMapSchema } = {};
	private fieldFormatterMap: { [formReviewerId: string]: IFormFormatterMapSchema } = {};

	private created(): void {
		this.formFormatterMap = (this.$parent as any)[FB_FORM_REVIEW_FORMATTER_MAP] || {};
		this.sectionFormatterMap = (this.$parent as any)[FB_SECTION_REVIEW_FORMATTER_MAP] || {};
		this.fieldFormatterMap = (this.$parent as any)[FB_FIELD_REVIEW_FORMATTER_MAP] || {};
		// Initialize form with review schema
		this.initializeFormReviewSchema();
	}

	private get formsForReview(): IForm[] {
		if (this.forms && this.forms.length) {
			return this.forms.filter((form: IForm) => !form.formExcludeFromReview && !form.formHidden);
		}
		return [];
	}

	private parseFieldValue(
		field: IFormField,
		section: IFormSection,
		form: IForm,
		forms: IForm[],
	): string {
		if (field.fieldReviewFormatter) {
			return field.fieldReviewFormatter(this.data[field.fieldId], field, section, form, forms);
		}
		if (field.fieldReviewFormat) {
			return field.fieldReviewFormat.replace(
				valueExp,
				'<span class="field-values">' + this.data[field.fieldId] + '</span>',
			);
		}
		return this.data[field.fieldId];
	}
	private parseSectionHeading(
		section: IFormSection,
		form: IForm,
		forms: IForm[],
	): string {
		if (section.sectionReviewFormatter) {
			return section.sectionReviewFormatter(section, form, forms);
		}
		if (section.sectionReviewFormat) {
			return section.sectionReviewFormat.replace(
				valueExp,
				'<span class="section-values">' +
					section.sectionHeading +
					'</span>',
			);
		}
		return section.sectionHeading;
	}
	private parseFormHeading(
		form: IForm,
		forms: IForm[],
	): string {
		if (form.formReviewFormatter) {
			return form.formReviewFormatter(form, forms);
		}
		if (form.formReviewFormat) {
			return form.formReviewFormat.replace(
				valueExp,
				'<span class="form-values">' +
					form.formName +
					'</span>',
			);
		}
		return form.formName;
	}
	private isFieldVisible(field: IFormField): boolean {
		return (
			!field.fieldHidden &&
			!field.fieldExcludeFromReview &&
			(!!field.fieldReviewFormatter ||
				(!field.fieldReviewFormatter &&
					(this.data[field.fieldId] !== null &&
						this.data[field.fieldId] !== undefined &&
						this.data[field.fieldId] !== '')))
		);
	}
	private getFilteredSections(form: IForm): IFormSection[] {
		if (
			!form.formReviewSectionIds ||
			form.formReviewSectionIds.length === 0
		) {
			return form.formSections;
		}
		const result: IFormSection[] = [];
		form.formReviewSectionIds.forEach((sectionId: string) => {
			const filteredSection:
				| IFormSection
				| undefined = form.formSections.find(
				(section: IFormSection) => section.sectionId === sectionId,
			);
			if (filteredSection) {
				result.push(filteredSection);
			}
		});
		return result;
	}
	private getFilteredFields(section: IFormSection): IFormField[] {
		if (
			!section.sectionReviewFieldIds ||
			section.sectionReviewFieldIds.length === 0
		) {
			return section.sectionFields;
		}
		const result: IFormField[] = [];
		section.sectionReviewFieldIds.forEach((fieldId: string) => {
			const filteredField:
				| IFormField
				| undefined = section.sectionFields.find(
				(field: IFormField) => field.fieldId === fieldId,
			);
			if (filteredField) {
				result.push(filteredField);
			}
		});
		return result;
	}
	private onFormEdit(form: IForm): void {
		// Fired when edit on a section is clicked.
		// @arg `:IForm`<br/> Form details
		this.$emit('formEdit', form);
	}

	@Watch('forms')
	private onFormObjectChange(): void {
		this.initializeFormReviewSchema();
	}
	private initializeFormReviewSchema(): void {
		if (this.forms.length) {
			this.forms.forEach((form: IForm) => {
				if (this.formFormatterMap[this.id]) {
					// check for all forms
					if (this.formFormatterMap[this.id].all) {
						const excludedIds: string[] | undefined = (this.formFormatterMap[this.id].all as any).excludedIds;
						if (!excludedIds || (excludedIds && excludedIds.length && excludedIds.indexOf(form.formId) === -1)) {
							// add formatter to form
							const formatter: IFormAction | undefined = (this.formFormatterMap[this.id].all as any).action;
							if (formatter) {
								form.formReviewFormatter = formatter.fn.bind(this.$parent, formatter.args);
							}
						}
					}
					const formFormatter: IFormAction | undefined = this.formFormatterMap[this.id].forms[form.formId];
					if (formFormatter) {
						form.formReviewFormatter = formFormatter.fn.bind(this.$parent, formFormatter.args);
					}
				}

				form.formSections.forEach((section: IFormSection) => {
					if (this.sectionFormatterMap[this.id]) {
						// check for all sections
						if (this.sectionFormatterMap[this.id].all) {
							const excludedIds: string[] | undefined = (this.sectionFormatterMap[this.id].all as any).excludedIds;
							if (!excludedIds || (excludedIds && excludedIds.length && excludedIds.indexOf(section.sectionId) === -1)) {
								// add formatter to section
								const formatter: IFormAction | undefined = (this.sectionFormatterMap[this.id].all as any).action;
								if (formatter) {
									section.sectionReviewFormatter = formatter.fn.bind(this.$parent, formatter.args);
								}
							}
						}
						const sectionFormatter: IFormAction | undefined = this.sectionFormatterMap[this.id].sections[section.sectionId];
						if (sectionFormatter) {
							section.sectionReviewFormatter = sectionFormatter.fn.bind(this.$parent, sectionFormatter.args);
						}
					}

					section.sectionFields.forEach((field: IFormField) => {
						if (!field.fieldObject) {
							if (this.typeMap[field.fieldType]) {
								field.fieldObject = getTypeObject(this.typeMap[field.fieldType], field);
							} else {
								field.fieldIsInvalid = true;
								// Throw error if field type does not exist
								// tslint:disable-next-line:no-console
								console.error(
									'Field "' + field.fieldId + '", '
									+ 'has fieldType either missing or not registered in typeMap '
									+ '(check component documentation)');
								// tslint:disable-next-line:no-console
								console.error('Type names allowed/registered in typeMap: ', Object.keys(this.typeMap));
							}
						}
						if (this.fieldFormatterMap[this.id]) {
							// check for all fields
							if (this.fieldFormatterMap[this.id].all) {
								const excludedIds: string[] | undefined = (this.fieldFormatterMap[this.id].all as any).excludedIds;
								if (!excludedIds || (excludedIds && excludedIds.length && excludedIds.indexOf(field.fieldId) === -1)) {
									// add formatter to field
									const formatter: IFormAction | undefined = (this.fieldFormatterMap[this.id].all as any).action;
									if (formatter) {
										field.fieldReviewFormatter = formatter.fn.bind(this.$parent, formatter.args);
									}
								}
							}
							// check for type
							if (this.fieldFormatterMap[this.id].types[field.fieldType]) {
								const excludedIds: string[] | undefined = this.fieldFormatterMap[this.id].types[field.fieldType].excludedIds;
								if (!excludedIds || (excludedIds && excludedIds.length && excludedIds.indexOf(field.fieldId) === -1)) {
									// add event to field
									const formatter: IFormAction | undefined = this.fieldFormatterMap[this.id].types[field.fieldType].action;
									if (formatter) {
										field.fieldReviewFormatter = formatter.fn.bind(this.$parent, formatter.args);
									}
								}
							}
							// check for individual
							const fieldFormatter: IFormAction | undefined = this.fieldFormatterMap[this.id].fields[field.fieldId];
							if (fieldFormatter) {
								field.fieldReviewFormatter = fieldFormatter.fn.bind(this.$parent, fieldFormatter.args);
							}
						}
					});
				});
			});
		}
		// Triggers after every time the form and its objects are initialized
		this.$emit('formReviewInitialized');
	}
}
</script>
