<template>
	<div class="step-container">
		<ul class="steps-ul">
			<li
				v-for="(form, index) in visibleForms"
				:key="form.formId"
				class="steps-ul-step"
				:class="{
					filled: form.formIsSubmitted,
					active: form.formIsActive,
					'is-routable': canNavigate(index, form.formHidden),
				}"
				@click="onStepClick(form, index);"
			>
				<div class="step-no">
					<!--
						Display step number. index `:number`, forms `:IForm[]`, form `:IForm`, canNavigate `:boolean` and data `:any` available in slot properties.
					-->
					<slot
						name="stepNumber"
						v-bind:index="index"
						v-bind:form="form"
						v-bind:data="data"
						v-bind:canNavigate="canNavigate(index, form.formHidden)"
						v-bind:forms="forms"
					>
						<!-- Form index + 1 -->
						{{ index + 1 }}
					</slot>
				</div>
				<span class="step-label">
					<!--
						Display step label. index `:number`, forms `:IForm[]`, form `:IForm`, canNavigate `:boolean` and data `:any` available in slot properties.
					-->
					<slot
						name="stepLabel"
						v-bind:index="index"
						v-bind:form="form"
						v-bind:data="data"
						v-bind:canNavigate="canNavigate(index, form.formHidden)"
						v-bind:forms="forms"
					>
						<!-- Form name -->
						{{ form.formName }}
					</slot>
				</span>
			</li>
		</ul>
	</div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import {
	IForm,
	IFormSection,
	IFormField,
	IStepClickEvent,
} from './shared/interfaces';
import { canNavigate } from './shared/utils';

@Component({
	name: 'FormStepCounter',
})
export default class FormStepCounter extends Vue {
	// Array of forms `:IForm`
	@Prop({ type: Array, required: true }) private forms!: IForm[];
	// Dictionary of field id and data
	// tslint:disable:arrow-return-shorthand
	@Prop({
		type: Object,
		default: (): {[key: string]: any} => { return {}; },
		required: false,
	}) private data!: { [key: string]: any };
	// Form id of active form
	@Prop(String) private activeFormId!: string;

	private canNavigate(index: number, isFormHidden: boolean): boolean {
		return canNavigate(index, this.activeFormIndex, isFormHidden);
	}

	private get firstVisibleFormIndex(): number {
		const index: number = this.forms.findIndex((form: IForm) => !form.formHidden);
		return index === -1 ? 0 : index;
	}

	private get activeFormIndex(): number {
		const index: number = this.forms.findIndex(
			(form: IForm) => form.formId === this.activeFormId && !form.formHidden,
		);
		if (index === -1) {
			return this.firstVisibleFormIndex === -1 ? 0 : this.firstVisibleFormIndex;
		}
		return index;
	}

	private get activeForm(): IForm {
		return this.forms[this.activeFormIndex === -1 ? 0 : this.activeFormIndex];
	}
	private get visibleForms(): IForm[] {
		return this.forms.filter((form: IForm) => !form.formHidden);
	}

	private onStepClick(form: IForm, index: number): void {
		// Fired when a step is clicked
		// @arg `:IStepClickEvent`<br/>Form properties of the form clicked on
		this.$emit('stepClick', {
			formId: form.formId,
			formIndex: index,
			canNavigate: this.canNavigate(index, form.formHidden),
		} as IStepClickEvent);
	}
}
</script>
